
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";
}


<h2>About</h2>
<p>Trường Đại học Nguyễn Trãi là một cơ sở kinh doanh dịch vụ giáo dục tại Việt Nam, được thành lập ngày 5/2/2008 theo Quyết định số 183/QĐ-TTg của Thủ tướng Chính phủ, tiền thân của trường hiện nay là Viện Đào tạo Công nghệ và Quản lý Quốc tế.</p>
<img src="~/Content/image/anh1.jpg" />
<img src="~/Content/image/anh2.jpg" />
<img src="~/Content/image/anh3.png" />

