
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contact";
}


<h2>Contact</h2>
<p>Trần Văn Minh - k22 công nghệ thông tin 2</p>
<p>0366421013</p>
<p>tranvanminh20640@gmail.com</p>
<p>205 tam trinh hoàng mai hà nội</p>
